@model IEnumerable<TblRestaurant>

@if (Model.Any())
{
    <div class="profile mat mat-margin-top uk-box-shadow-medium">
        <h3 class="uk-margin-auto-left">
            رستوران های شما
        </h3>

        <table class="uk-table table" dir="rtl">
            <thead>
                <tr>
                    <th>عکس</th>
                    <th>نام</th>
                    <th>امتیاز</th>
                    <th>شهر</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr  id="restaurant_@item.RestaurantId">
                        <td>
                            <div uk-lightbox>
                                @if (item.MainImage != null)
                                {
                                    <a href="~/Images/Restaurant/@item.MainImage">
                                        <img class="uk-border-rounded" src="~/Images/Restaurant/@item.MainImage" width="64" height="64" alt="@item.Name" />
                                    </a>
                                }
                                else
                                {
                                    <a href="~/Images/NoImage.svg">
                                        <img class="uk-border-rounded" src="~/Images/NoImage.svg" width="64" height="64" alt="@item.Name" />
                                    </a>
                                }
                            </div>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.City.Name</td>
                        <td class="row">
                            <div class="star-container uk-margin-auto-left" uk-tooltip="@(item.Rating/20)">
                                <div class="Stars" style="--rating: @(item.Rating/20)"></div>
                            </div>
                        </td>
                        <th>
                            <div class="action-panel">
                                <a onclick="deleteRestauran(@item.RestaurantId)" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="trash-outline" uk-tooltip="حذف رستوران"></a>
                                <a href="/User/User/Edit/@item.RestaurantId" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="create-outline" uk-tooltip="ویرایش رستوران"></a>
                                <a href="/ViewSingle/@item.RestaurantId/@item.Name.Replace(" ","-")" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="eye-outline" uk-tooltip="مشاهده صفحه رستوران"></a>
                                <a href="" class="btn-icon uk-margin-auto-vertical uk-margin-small-bottom" uk-icon="copy-outline" uk-tooltip="گالری"></a>
                            </div>
                        </th>
                    </tr>
                }

            </tbody>
        </table>
    </div>

}