@model TblRestaurant
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/Pages/Restaurant.min.css" rel="stylesheet" />
    <link href="~/css/Packages/leaflet.min.css" rel="stylesheet" />
    <link href="~/leaflet-routing-machine.css" rel="stylesheet" />
}

<div class="actions-adrift" uk-scrollspy="cls:uk-animation-slide-bottom-medium">
    <ul>
        <li>
            <button type="button" onclick="uploadImage()">
                <span uk-icon="image"></span>
                <span>آپلود عکس</span>
            </button>
        </li>
        <li>
            <button type="button" onclick="sendCommentRestaurant()">
                <span uk-icon="chatbox-ellipses"></span>
                <span>ثبت نظر</span>
            </button>
        </li>
        <li>
            <button type="button" onclick="reportRestaurant()">
                <span uk-icon="megaphone"></span>
                <span>گزارش مکان</span>
            </button>
        </li>
        <li>
            <button onclick="copy(window.location.href,'لینک صفحه کپی شد')">
                <span uk-icon="share-social"></span>
                <span>اشتراک گزاری</span>
            </button>
        </li>
    </ul>
</div>

<!-- #region Modals -->

<div id="Modal-Comment" uk-modal>

</div>

<div id="Modal-Report" uk-modal>

</div>

<div id="Modal-Report-Comment" uk-modal>

</div>

<!-- #endregion -->
<!-- #region Banner -->

<div class="image-container uk-box-shadow-large">
    <img class="banner-image" width="500" height="350" src="/Images/Restaurant/@Model.MainBanner" alt="Restaurant Banner" />
</div>

<div class="banner uk-margin-small-bottom">
    <div class="banner-logo">
        <div class="row-reverse">
            <div uk-lightbox>
                <a href="/Images/Restaurant/@Model.MainImage" data-caption="@Model.Name" data-alt="Restaurant Logo">
                    <img class="logo uk-box-shadow-medium"
                         src="/Images/Restaurant/@Model.MainImage" width="100" height="100" alt="Restaurant Logo" />
                </a>
            </div>
            <div class="column">
                <h1 class="uk-h3">
                    @Model.Name
                </h1>
                <div class="star-container uk-margin-auto-top uk-margin-auto-right banner-material row" uk-tooltip="@(Model.Rating/20)" dir="rtl">
                    <div class="Stars" style="--rating:   @(Model.Rating/20);" aria-label="Rating of this product is  @(Model.Rating/20) out of 5."></div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-info">
        <div class="column">
            <div class="alternate">
                <h3 class="uk-margin-remove clickable uk-h5 row banner-material"
                    onclick="copy('@Model.TellNo1','شماره تلفن کپی شد')">
                    <i uk-icon="call"></i>
                    <span class="uk-margin-small-left">@Model.TellNo1</span>
                </h3>
                @foreach (var item in Model.TblWorkTime)
                {
                    <h3 class="uk-margin-small-left clickable uk-margin-remove-vertical uk-h5 row banner-material"
                        onclick="copy('@item.Day @item.Time','زمان کاری کپی شد')">
                        <i uk-icon="time-outline"></i>
                        <span class="rowr">
                            <span class="uk-margin-small-left" dir="rtl">@item.Time</span>
                            <span dir="rtl"> @item.Day</span>
                        </span>
                    </h3>
                }

            </div>
            <a class="banner-material clickable uk-margin-small-top uk-margin-remove-bottom"
               href="https://www.google.com/maps/dir/Current+Location/(@Model.Lat,@Model.Lon" target="_blank">
                <span uk-icon="location-sharp"></span>
                @Model.Address
            </a>
        </div>
    </div>
    <div class="banner-action column">
        <div class="row uk-margin-auto-top">
            <a href="#" onclick="uploadImage()" uk-tooltip="آپلود عکس" class="banner-material clickable uk-margin-small-right" uk-icon="image"></a>
            <a href="#" onclick="reportRestaurant()" uk-tooltip="گزارش مشکل" class="banner-material clickable uk-margin-auto-right" uk-icon="megaphone-outline"></a>
            <span uk-tooltip="اشتراک گذاری رستوران" class="banner-material uk-margin-small-right clickable" uk-icon="share-social-outline"
                  onclick="copy(window.location.href,'لینک صفحه کپی شد')"></span>
            <a href="@Model.InstagramUrl" uk-tooltip="پیج اینستاگرام" class="banner-material clickable" uk-icon="logo-instagram"></a>
        </div>
    </div>
</div>

<!-- #endregion -->

<div class="uk-container" uk-scrollspy="cls:uk-animation-fade">


    @if (Model.TblImage.Where(i => i.Status == 2 && i.IsValid).Count() > 0)
    {
        <div class="carousel carousel-image uk-position-relative uk-visible-toggle" uk-scrollspy="cls:uk-animation-fade" tabindex="-1" uk-slider>
            <h4 class="uk-margin-remove-top">
                عکس های کاربران
            </h4>
            <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-5-at-xl">
                @foreach (var item in Model.TblImage.Where(i => i.Status == 2 && i.IsValid))
                {
                    <li>
                        <a href="~/Images/Restaurant/Gallery/@item.Url" data-caption="آپلود شده توسط: نام کاربر1"><img src="~/Images/Restaurant/Gallery/@item.Url" width="220" height="220" alt="عکس از رستوران" /></a>
                    </li>
                }
            </ul>
            <!-- #endregion -->
            <!-- #region Menu -->
        </div>
    }

    @if (Model.TblFood.Count > 0)
    {
        <div class="carousel carousel-menu uk-box-shadow-medium
         uk-position-relative uk-visible-toggle" uk-scrollspy="cls:uk-animation-fade" tabindex="-1" uk-slider>

            <h4 class="uk-margin-remove-top">
                منو رستوران
            </h4>

            <ul uk-lightbox class="uk-slider-items
            uk-child-width-1-3-at-s
            uk-child-width-1-4-at-m
            uk-child-width-1-5-at-l
            uk-child-width-1-5-at-xl">
                @foreach (var item in Model.TblImage.Where(i => i.Status == 1))
                {
                    <li>
                        <a href="~/Images/Restaurant/Gallery/@item.Url" data-caption="@Model.Name"><img src="~/Images/Restaurant/Gallery/@item.Url" width="220" height="365" alt="عکس از منو رستوران" /></a>
                    </li>
                }
            </ul>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        </div>
    }

    <div class="info uk-margin-medium-top">
        <div class="mat meals" uk-scrollspy="cls:uk-animation-fade;delay:300">
            <h5 class="uk-h4">غذا ها</h5>
            <ul class="auto-row uk-margin-remove-bottom uk-padding-remove">
                @foreach (var item in Model.TblFood)
                {
                    <li>
                        <a>@item.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="mat progbar foodstyle" uk-scrollspy="cls:uk-animation-fade;delay:300">
            <h5 class="uk-h4">امتیاز ها</h5>
            <ul class="uk-padding-remove uk-margin-remove column">
                <li>
                    <label>
                        ارزش نسبت به قیمت
                    </label>
                    <div class="prog">
                        <progress class="uk-progress" dir="rtl" value="@Model.QualityPerPriceRate" max="10"></progress>
                        <span class="uk-badge uk-margin-auto-right">@Model.QualityPerPriceRate</span>
                    </div>
                </li>
                <li>
                    <label>
                        سرویس و کارکنان
                    </label>
                    <div class="prog">
                        <progress class="uk-progress" dir="rtl" value="@Model.ServiceRate" max="10"></progress>
                        <span class="uk-badge uk-margin-auto-right">@Model.ServiceRate</span>
                    </div>
                </li>
                <li>
                    <label>
                        دکوراسیون و محیط
                    </label>
                    <div class="prog">
                        <progress class="uk-progress" dir="rtl" value="@Model.DecorRate" max="10"></progress>
                        <span class="uk-badge uk-margin-auto-right">@Model.DecorRate</span>
                    </div>
                </li>
                <li>
                    <label>
                        کیفیت و طعم
                    </label>
                    <div class="prog">
                        <progress class="uk-progress" dir="rtl" value="@Model.QualityRate" max="10"></progress>
                        <span class="uk-badge uk-margin-auto-right">@Model.QualityRate</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mat options" uk-scrollspy="cls:uk-animation-fade;delay:100">
            <h5 class="uk-h4">امکانات</h5>
            <ul class="uk-margin-remove ">
                @foreach (var item in Model.TblProperty)
                {
                    <li>
                        <span uk-icon="checkmark-circle"></span>
                        <span>@item.Name</span>
                    </li>
                }

            </ul>
        </div>

        <div class="map" id="map" style="height:400px;width:100%"></div>
    </div>

    <!-- #region Comment Section -->

    <div class="comment-section mat mat-margin-top">
        <div class="row-reverse uk-margin-small-bottom">
            <h4 class="uk-h3 uk-margin-remove">نظرات کاربران</h4>
            <button onclick="sendCommentRestaurant()" type="button" class="row-reverse btn btn-primary btn-round uk-margin-auto-right">
                <span uk-icon="chatbox-ellipses" class="uk-margin-small-left"></span>
                ثبت نظر
            </button>
        </div>

        @if (Model.TblComment.Where(i => i.IsValid).Count() > 0)
        {
            <ul class="uk-margin-remove uk-padding-remove">
                @foreach (var item in Model.TblComment.Where(i => i.IsValid))
                {
                    <li uk-scrollspy="cls:uk-animation-fade"><partial name="_Comment" model="item" /></li>
                }
            </ul>
        }
        else
        {
            <div class="column">
                <img src="~/resources/svg/btfToComment.svg" width="164" height="164" class="uk-margin-auto uk-margin-medium-top" alt="کسی نظری نداده است" />
                <h3 class="h4 uk-text-center uk-margin-remove-bottom uk-margin-top">اولین نظر را شما بدهید</h3>
                <p class="uk-text-muted uk-text-center uk-margin-small-top">هنوز کسی درباره این مکان نظری نداده است</p>
            </div>
        }

    </div>

    <!-- #endregion -->

</div>

<input type="hidden" asp-for="Lat" />
<input type="hidden" asp-for="Lon" />
<input type="hidden" asp-for="RestaurantId" id="RestaurantId" />


<div id="Modal-View" uk-modal>

</div>

@section Scripts{

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <link href="~/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/leaflet/leaflet.js"></script>

    <script src="~/leaflet-routing-machine.js"></script>

    <script>

        function openMap() {
            L.Routing.control({
                waypoints: [
                    L.latLng(57.74, 11.94),
                    L.latLng(57.6792, 11.949)
                ]
            }).addTo(map);
        }


        function uploadImage() {
            var id = $('#RestaurantId').val()
            $.get("/Restaurant/UploadImage/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('Modal-View')).show();
                    $("#Modal-View").html(result);
                }
            );
        }
        function reportRestaurant() {
            var id = $('#RestaurantId').val()
            $.get("/Restaurant/ReportRestaurant/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('Modal-Report')).show();
                    $("#Modal-Report").html(result);
                }
            );
        }
        function sendCommentRestaurant() {
            var id = $('#RestaurantId').val()
            $.get("/Restaurant/SendCommentRestaurant/" + id,
                function (result) {
                    UIkit.modal(document.getElementById('Modal-Comment')).show();
                    $("#Modal-Comment").html(result);
                }
            );
        }
        function reportCommentRestaurant(id) {
            var RestaurantId = $('#RestaurantId').val();
            var CommentId = id;
            $.get("/Restaurant/ReportCommentRestaurant?RestaurantId=" + RestaurantId + "&CommentId=" + CommentId,
                function (result) {
                    UIkit.modal(document.getElementById('Modal-Report-Comment')).show();
                    $("#Modal-Report-Comment").html(result);
                }
            );
        }
    </script>

    <script>
        var Lat = $("#Lat").val();
        var Lon = $("#Lon").val();
        var map = L.map('map').setView([Lat, Lon], 15);

        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '@Model.Name'
        }).addTo(map);

        L.marker([Lat, Lon]).addTo(map).bindPopup('@Model.Name').openPopup();
    </script>


    @*<script name="Gauge">
            const circles = document.getElementsByClassName('progress-ring__circle');
            let counter = 0;
            for (let circle of circles) {

                var radius = circle.r.baseVal.value;
                var circumference = radius * 2 * Math.PI;

                circle.style.strokeDasharray = `${circumference} ${circumference}`;
                circle.style.strokeDashoffset = `${circumference}`;

                function setProgress(percent) {
                    const offset = circumference - percent / 100 * circumference;
                    circle.style.strokeDashoffset = offset;
                }

                const percentage =
                    document.getElementsByClassName('progress-ring-container')[counter]
                        .getAttribute("percentage");
                setProgress(parseInt(percentage));

                counter++;
            }
        </script>*@

    <script>
        //UIkit.modal(document.getElementById('Modal-Report')).show();
    </script>

    <script name="Upload Image">
        const opt = {
            viewport: {
                width: 220,
                height: 220,
                //Valid type values:'square' 'circle'
                type: 'square'
            }
        }
        var c;
        function fileSelected(input) {
            document.getElementById("sendImage").disabled = true;
            if (input.files[0] == null) return;

            if (c != undefined) {
                const popup = document.getElementsByClassName('popup-croppie')[0];
                c.destroy();
            }

            var image = new Image();
            image.src = input.value;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('item');
                output.src = dataURL;
                c = new Croppie(document.getElementById('item'), opt);
            };
            reader.readAsDataURL(input.files[0]);
        }

        //Returns the Base64 string of a Png image
        function crop() {
            try {
                c.result({ type: 'base64', size: 'viewport', format: 'png', quality: 1, circle: false }).then(i => {
                    //console.log(i);

                    //fetch('/Restaurant/UploadImage', {
                    //    method: 'post',
                    //    body: JSON.stringify(i)
                    //}).then();

                    //$.ajax({
                    //    url: '/Restaurant/UploadImage',
                    //    data: JSON.stringify({ imageName: i }),
                    //   // data: JSON.stringify({ "imageName": i }),

                    //}).done(function () {


                    //});

                });
            }
            catch {
                UIkit.notification('لطفا یک عکس انتخاب کنید');
            }
        }

    </script>

}
