@model DocVm
@{
    ViewData["Title"] = " ویرایش ویدیو";
}
<div class="flex-column card flex-div border-0 shadow">
    <div class="card-header bg-white">
        <h4>ویرایش رستوران </h4>
    </div>
    <form asp-action="Edit" asp-area="Admin" asp-controller="Video" role="form" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <input type="hidden" asp-for="VideoUrl" />
            <input type="hidden" asp-for="DocId" />
            <input type="hidden" asp-for="MainImage1" />
            <input type="hidden" asp-for="MainImage2" />
            <input type="hidden" asp-for="MainImage3" />
            <input type="hidden" asp-for="LikeCount" />
            <div class="form-group mx-sm-1 mb-2">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control form-control-sm" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="card-body">
                <label asp-for="BodyHtml"></label>
                <div class="form-group mx-sm-1 mb-2">
                    <textarea asp-for="BodyHtml" id="BodyHtml" name="BodyHtml" class="form-control form-control-sm"></textarea>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="upload-image uk-margin-auto-left">
                    <label class="title"> ویدیو </label>
                    @if (Model.VideoUrl != null)
                    {

                        <video controls="controls">
                            <source src="~/Images/Video/Videos/@Model.VideoUrl" type="video/mp4" />
                        </video>
                    }
                    else
                    {
                        <img class="preview" src="/Images/NoImage.svg" alt="@Model.Title" />
                    }
                    <label class="select">
                        <span>
                            فایل انتخاب نشده
                        </span>
                        <input type="file"  name="VideoUrl" onchange="imageSelected(this)" />
                        <span class="text-danger" asp-validation-for="VideoUrl"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="upload-image uk-margin-auto-left">
                    <label class="title"> عکس   <span>(نسبت یک در یک)</span></label>
                    @if (Model.MainImage1 != null)
                    {
                        <img class="preview" src="/Images/Video/Images/@Model.MainImage1" alt=" @Model.Title" />
                    }
                    else
                    {
                        <img class="preview" src="/Images/NoImage.svg" alt="@Model.Title" />
                    }
                    <label class="select">
                        <span>
                            فایل انتخاب نشده
                        </span>
                        <input type="file" accept="image/*" name="MainImage1" onchange="imageSelected(this)" />
                        <span class="text-danger" asp-validation-for="MainImage1"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="upload-image uk-margin-auto-left">
                    <label class="title"> عکس   <span>(نسبت یک در یک)</span></label>
                    @if (Model.MainImage2 != null)
                    {
                        <img class="preview" src="/Images/Video/Images/@Model.MainImage2" alt=" @Model.Title" />
                    }
                    else
                    {
                        <img class="preview" src="/Images/NoImage.svg" alt="@Model.Title" />
                    }
                    <label class="select">
                        <span>
                            فایل انتخاب نشده
                        </span>
                        <input type="file" accept="image/*" name="MainImage2" onchange="imageSelected(this)" />
                        <span class="text-danger" asp-validation-for="MainImage2"></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="upload-image uk-margin-auto-left">
                    <label class="title"> عکس   <span>(نسبت یک در یک)</span></label>
                    @if (Model.MainImage3 != null)
                    {
                        <img class="preview" src="/Images/Video/Images/@Model.MainImage3" alt=" @Model.Title" />
                    }
                    else
                    {
                        <img class="preview" src="/Images/NoImage.svg" alt="@Model.Title" />
                    }
                    <img class="preview" src="" alt="" />
                    <label class="select">
                        <span>
                            فایل انتخاب نشده
                        </span>
                        <input type="file" accept="image/*" name="MainImage3" onchange="imageSelected(this)" />
                        <span class="text-danger" asp-validation-for="MainImage3"></span>
                    </label>
                </div>
            </div>


        </div>
        <div class="card-footer bg-white">
            <div class="flex-row">
                <button class="btn btn-primary">تایید</button>
                <a asp-action="Index" class="btn btn-secondary mr-2">بازگشت</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{


    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>

    <script>
        $('#BodyHtml').ckeditor();

        function imageSelected(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    const img = input.parentElement.parentElement.querySelector('.preview');
                    img.src = e.target.result.toString();
                    img.style.backgroundImage = '';
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    </script>

}
