<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(ViewBag.Description ?? "جستجو رستوران به صورت آنلاین")">
    <meta name="keywords" content="@(ViewBag.Keywords ?? "جستجو، رستوران، غذا، آنلاین، امتیاز دهی")">

    <title>@(ViewBag.Title ?? "مستر فود")</title>

    <!--PWA-->
    <link rel="apple-touch-icon" sizes="192x192" href="/resources/png/Mobile/icon_192.png">
    <meta name="msapplication-TileColor" content="#FFAC2F">
    <meta name="apple-mobile-web-app-status-bar" content="#FFAC2F" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFAC2F" />
    <meta name="theme-color" content="#FFAC2F" />
    <link rel="manifest" href="~/manifest.json" />

    <!--Css-->
    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/croppie.css" rel="stylesheet" />
    <link href="~/css/Global.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

</head>
<body>

    <!-- #region nav-header -->

    <div class="nav-header row-reverse uk-box-shadow-large">
        <nav class="nav-header-right uk-margin-auto-vertical row-reverse uk-margin-auto-left">
            <a href="/" class="logo btn-icon-darkglass" aria-label="خانه" uk-tooltip="لوگو رو هنوز ندادن بگیرین ازشون">
                <img src="~/resources/svg/BurgerKing.svg" width="42" height="42" alt="لوگو وبسایت" />
            </a>
            <a href="#Side-Menu" id="NavMenu" aria-label="منو سایت"
               uk-toggle class="btn-icon-darkglass display-none show-on-mobile">
                <span uk-icon="icon:menu-outline;ratio:1.65"></span>
            </a>
            <a href="/" class="btn-icon-darkglass" aria-label="خانه">
                <span class="hide-on-mobile">خانه</span>
                <span uk-icon="icon:home;ratio:1.65" class="display-none"></span>
            </a>
            <a href="/Home/About" class="btn-icon-darkglass" aria-label="درباره ما">
                <span class="hide-on-mobile">درباره ما</span>
                <span uk-icon="icon:information-circle;ratio:1.65" class="display-none"></span>
            </a>
            <a href="/Home/ContactUs" class="btn-icon-darkglass" aria-label="تماس با ما">
                <span class="hide-on-mobile">تماس با ما</span>
                <span uk-icon="icon:information-circle;ratio:1.65" class="display-none"></span>
            </a>
        </nav>

        <div class="nav-header-left row uk-margin-auto-right">
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.Claims.Last().Value == "user")
                {
                    <a href="/User/User/Index" type="button" id="btnRegister" class="btn btn-round btn-primary btn-primary-lowglow">
                        پروفایل
                    </a>
                    <div uk-drop="pos: bottom-right; offset:36">
                        <div class="mat uk-box-shadow-large">
                            <ul class="column uk-list">
                                <li>
                                    <a href="/User/User/Index" class="uk-text-default">
                                        پروفایل
                                    </a>
                                </li>
                                <li>
                                    <a href="#" uk-toggle="#Modal-Location" class="uk-text-default">
                                        تغییر مکان
                                    </a>
                                </li>
                                <li>
                                    <a href="/Account/LogOut" class="uk-text-danger">خروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                else if (User.Claims.Last().Value == "author")
                {
                    <a href="/Account/Register" id="btnRegister" class="btn btn-round btn-primary btn-primary-lowglow">
                        پنل نویسنده
                    </a>
                    <div uk-drop="pos: bottom-right; offset:36">
                        <div class="mat uk-box-shadow-large">
                            <ul class="column uk-list">
                                <li>
                                    <a href="/Account/Register" class="uk-text-default">
                                        پنل نویسنده
                                    </a>
                                </li>
                                <li>
                                    <a href="/Account/LogOut" class="uk-text-danger">خروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                else if (User.Claims.Last().Value == "admin")
                {
                    <a href="/Admin/Home/Index" id="btnRegister" class="btn btn-round btn-primary btn-primary-lowglow">
                        پنل مدیریت
                    </a>
                    <div uk-drop="pos: bottom-right; offset:36">
                        <div class="mat uk-box-shadow-large">
                            <ul class="column uk-list">
                                <li>
                                    <a href="/Admin/Home/Index" class="uk-text-default">
                                        پنل مدیریت
                                    </a>
                                </li>
                                <li>
                                    <a href="/Account/LogOut" class="uk-text-danger">خروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                <a href="/Account/Register" id="btnRegister" class="btn btn-round btn-primary btn-primary-lowglow">
                    ثبت نام
                </a>
                <a href="/Account/Login" id="btnLogin" class="btn btn-round btn-darkglass margin-header-left hide-on-mobile">
                    ورود
                </a>
            }

            <button id="btnLocation" uk-icon="location-outline"
                    class="btn btn-round btn-darkglass margin-header-left" type="button" uk-toggle="#Modal-Location">
                تبریز
            </button>
            <form asp-action="Search" asp-controller="Home" asp-area="" id="txtSearch" class="material-darkglass margin-header-left btn-round row">
                <button onclick="window.location='/Home/Search'" uk-icon="search-outline" aria-label="جستجو"
                        class="btn-icon-darkglass uk-margin-small-left uk-margin-small-right"></button>
                <input class="input-darkglass input-invis btn-round row flex-1"
                       placeholder="جستجو..." dir="rtl"
                       type="search" aria-label="جستجوی رستوران" name="name" />
            </form>
        </div>
    </div>

    <div class="space-nav-header"></div>
    <!-- #endregion -->

    @RenderBody()

    <!-- #region Footer -->

    <footer class="footer column">
        <ul class="footer-counters uk-box-shadow-large">
            @await Component.InvokeAsync("InformationFooterVm")

        </ul>
        <ul class="footer-body">
            <li>
                <div class="footer-body-login column">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @*@await Component.InvokeAsync("LoginFooterVm")*@
                    }
                </div>
            </li>
            <li>
                <div class="footer-body-about uk-margin-left column">
                    <h3>فودستان و لوگو</h3>
                    <p class="uk-margin-remove">
                        یه شبکه اجتماعی رستوران گردی و کافه گردی که بهت کمک میکنه بهترین خوردنی فروشی های اطرافت رو پیدا کنی و دیگه هیچوقت غذای بد نخوری
                    </p>
                </div>
            </li>
            <li>
                <div class="footer-body-menu column">
                    <h3>منوی اصلی</h3>
                    <div class="row-reverse">
                        <div class="column">
                            <a href="/">خانه</a>
                            @*<a href="#">درباره</a>*@
                            <a href="#">جستجو</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.Claims.Last().Value == "user")
                                {
                                    <a href="/User/User/Index">
                                        پروفایل
                                    </a>
                                }
                                else if (User.Claims.Last().Value == "author")
                                {
                                    <a href="/Account/Register">
                                        پنل نویسنده
                                    </a>
                                }
                                else if (User.Claims.Last().Value == "admin")
                                {
                                    <a href="/Admin/Home/Index">
                                        پنل مدیریت
                                    </a>
                                }
                            }
                        </div>
                        <div class="column uk-margin-right">
                            <a href="/Account/Login">ورود</a>
                            <a href="/Account/Register">ثبت نام</a>
                            <a href="#" class="btn-pwa">دریافت اپلیکیشن</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="footer-social row-reverse">
            <span class="credits">
                تمامی حقوق مادی و معنوی این وب سایت برای
                <a href="#">فودستان</a>
                محفوظ می باشد
            </span>
            <div class="media row">
                <a href="#" class="social btn-round" aria-label="پینترست">
                    <span uk-icon="logo-pinterest"></span>
                </a>
                <a href="#" class="social btn-round" aria-label="لینکدین">
                    <span uk-icon="logo-linkedin"></span>
                </a>
                <a href="#" class="social btn-round row-reverse">
                    <span class="uk-margin-small-right" uk-icon="logo-instagram"></span>
                    <span class="uk-margin-small-right uk-margin-small-left">اینستاگرام</span>
                </a>
            </div>
        </div>
    </footer>

    <!-- #endregion -->

    <div id="Modal-PopupIos" class="popup-ios" uk-modal>
        <div class="column uk-padding">
            <button class="uk-modal-close btn-icon uk-margin-auto-right" uk-icon="icon:close;ratio:1.5" aria-label="بستن"></button>
            <h2 class="uk-h3 center">دانلود اپلیکیشن موبایل</h2>
            <h3 class="uk-h5 center uk-margin-bottom">برای دریافت اپ موبایل برنامه را به صفحه اصلی اضافه کنید</h3>
            <img class="uk-margin-auto" src="~/resources/svg/Iphone.svg" />
            <span class="btn-icon uk-margin-auto" uk-icon="icon:arrow-down-circle;ratio:3"></span>
        </div>
    </div>

    <!-- #region Location -->

    <div id="Modal-Location" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <form class="column">
                <h2 class="uk-h4">انتخاب شهر</h2>
                <span class="uk-modal-close" uk-close></span>
                <div class="form-group">
                    @*<input type="text" class="form-group-bg"
                        dir="rtl" placeholder="جستجو..."
                        aria-label="جستجو شهر" name="txtSearch" />*@
                </div>
                <div class="even-taglist column uk-margin-small-top">
                    <ul class="tag-grid uk-padding-remove">
                        @await Component.InvokeAsync("CityVm")
                        @*<li>
                                <button class="even-tag">تبریز</button>
                            </li>
                            <li>
                                <button class="even-tag">تهران</button>
                            </li>
                            <li>
                                <button class="even-tag">مراغه</button>
                            </li>
                            <li>
                                <button class="even-tag">زنچان</button>
                            </li>
                            <li>
                                <button class="even-tag">قزوین</button>
                            </li>
                            <li>
                                <button class="even-tag">ارومیه</button>
                            </li>
                            <li>
                                <button class="even-tag">سراب</button>
                            </li>
                            <li>
                                <button class="even-tag">بناب</button>
                            </li>*@
                    </ul>
                </div>
                <div class="button-panel uk-margin-top uk-margin-auto">
                    <div class="btn btn-round btn-secondary uk-modal-close">بازگشت</div>
                </div>
            </form>
        </div>
    </div>

    <!-- #endregion -->

    <div class="space-nav-bottom uk-margin-top"></div>
    <partial name="/Views/Shared/_MobileNav.cshtml">

        <!-- PWA -->
        <script src="~/app.js"></script>

        <!--Static Js-->
        <script src="~/js/uikit.min.js"></script>
        <script src="~/js/uikit-icons.js"></script>
        <script src="~/js/croppie.js"></script>
        <script src="~/js/persianDigits.js"></script>
        @*<script src="~/js/ImageLoadFailed.js"></script>*@
        <script src="~/js/CopyText.js"></script>
        <!--Page Dependant Js-->

        <script src="~/js/jquery-3.5.1.min.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

        @RenderSection("Scripts", false)

</body>
</html>
