<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(ViewBag.Description ?? "جستجو رستوران به صورت آنلاین")">
    <meta name="keywords" content="@(ViewBag.Keywords ?? "جستجو، رستوران، غذا، آنلاین، امتیاز دهی")">

    <title>@(ViewBag.Title ?? "مستر فود")</title>

    <!--PWA-->
    <link rel="apple-touch-icon" sizes="192x192" href="/resources/png/Mobile/icon_192.png">
    <meta name="msapplication-TileColor" content="#FFAC2F">
    <meta name="apple-mobile-web-app-status-bar" content="#FFAC2F" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFAC2F" />
    <meta name="theme-color" content="#FFAC2F" />
    <link rel="manifest" href="~/manifest.json" />

    <!--Css-->
    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/croppie.css" rel="stylesheet" />
    <link href="~/css/Global.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />

    @RenderSection("Styles")

</head>
<body>

    <!-- #region nav-header -->

    <div class="nav-header row-reverse uk-box-shadow-large">
        <nav class="nav-header-right uk-margin-auto-vertical row-reverse uk-margin-auto-left">
            <a href="/" class="logo margin-header-left btn-icon-darkglass" aria-label="خانه">
                <img src="~/resources/svg/BurgerKing.svg" width="42" height="42" alt="لوگو وبسایت" />
            </a>
            <a href="#Side-Menu" id="NavMenu" aria-label="منو سایت"
               uk-toggle class="btn-icon-darkglass display-none show-on-mobile">
                <span uk-icon="icon:menu-outline;ratio:1.65"></span>
            </a>
            <a href="/" class="btn-icon-darkglass" aria-label="خانه">
                <span class="hide-on-mobile">خانه</span>
                <span uk-icon="icon:home;ratio:1.65" class="display-none"></span>
            </a>
            <a href="#" class="btn-icon-darkglass" aria-label="درباره ما">
                <span class="hide-on-mobile">درباره ما</span>
                <span uk-icon="icon:information-circle;ratio:1.65" class="display-none"></span>
            </a>
        </nav>

        <div class="nav-header-left row uk-margin-auto-right">
            <a href="/Entry/Register" id="btnRegister" class="btn btn-round btn-primary btn-primary-lowglow">
                ثبت نام
            </a>
            <a href="/Entry/Login" id="btnLogin" class="btn btn-round btn-darkglass margin-header-left hide-on-mobile">
                ورود
            </a>
            <button id="btnLocation" uk-icon="location-outline"
                    class="btn btn-round btn-darkglass margin-header-left" type="button" uk-toggle="#Modal-Location">
                تبریز
            </button>
            <div id="txtSearch" class="material-darkglass margin-header-left btn-round row">
                <button onclick="window.location='/Home/Search'" uk-icon="search-outline" aria-label="جستجو"
                        class="btn-icon-darkglass uk-margin-small-left uk-margin-small-right"></button>
                <input class="input-darkglass input-invis btn-round row flex-1"
                       placeholder="جستجو..." dir="rtl"
                       type="search" aria-label="جستجوی رستوران" />
            </div>
        </div>
    </div>

    <div class="space-nav-header"></div>
    <!-- #endregion -->

    @RenderBody()

    <!-- #region Footer -->

    <footer class="footer column">
        <ul class="footer-counters uk-box-shadow-large">
            <li>
                <div class="row-reverse counter">
                    <img src="~/resources/svg/Footer/Footer_Comment.svg" width="64" height="64" alt="Comments" />
                    <div class="comments column">
                        <strong>12,000</strong>
                        <span>نظر</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse counter">
                    <img src="~/resources/svg/Footer/Footer_Heart.svg" width="64" height="64" alt="Likes" />
                    <div class="likes column">
                        <strong>20,000</strong>
                        <span>پسند</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse counter">
                    <img src="~/resources/svg/Footer/Footer_User.svg" width="64" height="64" alt="Users" />
                    <div class="users column">
                        <strong>6,000</strong>
                        <span>کاربر</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-reverse counter">
                    <img src="~/resources/svg/Footer/Footer_ChefHat.svg" width="64" height="64" alt="Restaurants" />
                    <div class="resaurants column">
                        <strong>4,000</strong>
                        <span>رستوران</span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="footer-body">
            <li>
                <div class="footer-body-login column">
                    <h3>ورود به سایت</h3>
                    <form class="column">
                        <input dir="rtl" autocomplete="username" class="input-darkglass input-fade btn-round uk-margin-bottom"
                               type="tel" placeholder="شماره تلفن" aria-label="شماره تلفن" />
                        <input dir="rtl" autocomplete="current-password" class="input-darkglass input-fade btn-round uk-margin-bottom"
                               type="password" placeholder="گذرواژه" aria-label="گذرواژه" />
                        <button class="btn btn-primary btn-primary-lowglow btn-round uk-margin-auto-left">
                            ورود
                        </button>
                    </form>
                </div>
            </li>
            <li>
                <div class="footer-body-about uk-margin-left column">
                    <h3>نام سایت و لوگو</h3>
                    <p class="uk-margin-remove">
                        یه شبکه اجتماعی رستوران گردی و کافه گردی که بهت کمک میکنه بهترین خوردنی فروشی های اطرافت رو پیدا کنی و دیگه هیچوقت غذای بد نخوری
                    </p>
                </div>
            </li>
            <li>
                <div class="footer-body-menu column">
                    <h3>منوی اصلی</h3>
                    <div class="row-reverse">
                        <div class="column">
                            <a href="#">خانه</a>
                            <a href="#">درباره</a>
                            <a href="#">جستجو</a>
                            <a href="#">پنل کاربری</a>
                        </div>
                        <div class="column uk-margin-right">
                            <a href="#">ورود</a>
                            <a href="#">ثبت نام</a>
                            <a href="#">دریافت اپلیکیشن</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="footer-social row-reverse">
            <span class="credits">
                تمامی حقوق مادی و معنوی این وب سایت برای
                <a href="#">نام سایت</a>
                محفوظ می باشد
            </span>
            <div class="media row">
                <a href="#" class="social btn-round" aria-label="پینترست">
                    <span uk-icon="logo-pinterest"></span>
                </a>
                <a href="#" class="social btn-round" aria-label="لینکدین">
                    <span uk-icon="logo-linkedin"></span>
                </a>
                <a href="#" class="social btn-round row-reverse">
                    <span class="uk-margin-small-right" uk-icon="logo-instagram"></span>
                    <span class="uk-margin-small-right uk-margin-small-left">اینستاگرام</span>
                </a>
            </div>
        </div>
    </footer>

    <!-- #endregion -->

    <div id="Modal-PopupIos" class="popup-ios" uk-modal>
        <div class="column uk-padding">
            <button class="uk-modal-close btn-icon uk-margin-auto-right" uk-icon="icon:close;ratio:1.5" aria-label="بستن"></button>
            <h2 class="uk-h3 center">دانلود اپلیکیشن موبایل</h2>
            <h3 class="uk-h5 center uk-margin-bottom">برای دریافت اپ موبایل مرنامه را به صفحه اصلی اضافه کنید</h3>
            <img class="uk-margin-auto" src="~/resources/svg/Iphone.svg" />
            <span class="btn-icon uk-margin-auto" uk-icon="icon:arrow-down-circle;ratio:3"></span>
        </div>
    </div>

    <!-- #region Location -->

    <div id="Modal-Location" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <form class="column">
                <h2 class="uk-h4">انتخاب شهر</h2>
                <span class="uk-modal-close" uk-close></span>
                <div class="form-group">
                    <input type="text" class="form-group-bg"
                           dir="rtl" placeholder="جستجو..."
                           aria-label="جستجو شهر" name="txtSearch" />
                </div>
                <div class="even-taglist column uk-margin-small-top">
                    <ul class="tag-grid uk-padding-remove">
                        <li>
                            <button class="even-tag">تبریز</button>
                        </li>
                        <li>
                            <button class="even-tag">تهران</button>
                        </li>
                        <li>
                            <button class="even-tag">مراغه</button>
                        </li>
                        <li>
                            <button class="even-tag">زنچان</button>
                        </li>
                        <li>
                            <button class="even-tag">قزوین</button>
                        </li>
                        <li>
                            <button class="even-tag">ارومیه</button>
                        </li>
                        <li>
                            <button class="even-tag">سراب</button>
                        </li>
                        <li>
                            <button class="even-tag">بناب</button>
                        </li>
                    </ul>
                </div>
                <div class="button-panel uk-margin-top uk-margin-auto">
                    <div class="btn btn-round btn-secondary uk-modal-close">بازگشت</div>
                </div>
            </form>
        </div>
    </div>

    <!-- #endregion -->

    <div class="space-nav-bottom uk-margin-top"></div>
    <partial name="/Views/Shared/_MobileNav.cshtml">

        <!-- PWA -->
        @*<script src="~/app.js"></script>*@

        <!--Static Js-->
        <script src="~/js/uikit.min.js"></script>
        <script src="~/js/uikit-icons.js"></script>
        <script src="~/js/croppie.js"></script>
        <script src="~/js/persianDigits.js"></script>
        @*<script src="~/js/ImageLoadFailed.js"></script>*@
        <script src="~/js/CopyText.js"></script>
        <!--Page Dependant Js-->
        @RenderSection("Scripts", false)

</body>
</html>
