@model TblRestaurant
<a href="/ViewSingle/@Model.RestaurantId/@Model.Name.Replace(" ","-")" class="rest-block" uk-scrollspy="cls:uk-animation-fade;delay:200">

    @if (Model.TblFoodType.Any())
    {
        <label>
            @Model.TblFoodType.First().Name
        </label>
    }
    <img src="~/Images/Restaurant/thumb/@Model.MainImage"
         width="300" height="300"
         alt="عکس رستوران" />
    <div class="info">
        <h4>
            @Model.Name
        </h4>
        <div class="star-container" uk-tooltip="@(Model.Rating/20)">
            <div class="Stars" style="--rating:  @(Model.Rating/20);"></div>
        </div>
        <address uk-icon="location-outline">
            @Model.Address
        </address>
    </div>
</a>